li {
  display: inline;
  text-decoration: none;
}

a {
  text-decoration: none;
  justify-content: space-around;
  color: rgb(183, 77, 19);
}

.day-1-logo {
  width: 55px;
  height: 25px;
}

.day-1-shoe1 {
  width: 489px;
  height: 265px;
  padding-left: 160px;
}

.nav-bar {
  background-color: white;
  border-bottom: black 2PXpx solid;
  padding: 10px;
  height: 60px;
}

.topnav-right {
  float: right;
}

.arrow {
  padding-left: 160px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
}
.container {
  padding-bottom: 180px;
  background-image: linear-gradient(
    to right,
    rgb(193, 20, 127),
    rgb(225, 83, 7)
  );
  padding-top: 40px;
  text-overflow: wrap;
}

aside {
  width: 40px;
  padding-left: 20px;
  float: right;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-right: 80px;
  padding-right: 220px;
}

.size {
  display: flex;
  display: inline-block;
}

.lorem {
  color: white;
}

.footer {
  background-image: linear-gradient(
    to right,
    rgb(177, 4, 111),
    rgb(183, 77, 19)
  );
}
